:root {
  --gap-size: 7px;
  --grid-size: 100px;
}
body {
  margin: 0;
  font-family: Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: inherit;
  font-size: 28px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: darkgray;
}
button:active {
  background-color: lightgreen;
}

/* Classes */
.container {
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  background-color: orangered;
  display: grid;
  grid-template-columns: repeat(4, var(--grid-size));
  grid-template-rows: repeat(5, var(--grid-size));
  grid-template-areas: "clear clear divide multiply" "seven eight nine subtract"
    "four five six add" "one two three equal" "zero zero period equal";
  gap: var(--gap-size) var(--gap-size);
  justify-items: stretch;
  align-items: stretch;
  margin: 50px;
}

#clear {
  grid-area: clear;
}
#zero {
  grid-area: zero;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#decimal {
  grid-area: period;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}
#subtract {
  grid-area: subtract;
}
#add {
  grid-area: add;
}
#equals {
  grid-area: equal;
}
